DATABASE_URL="postgresql://username:password@ep-quiet-bar-xxx-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET="vintage-city-estate-islamiyya-ultra-secure-jwt-secret-key-2026"
NEXT_PUBLIC_APP_NAME="Vintage City Estate Islamiyya"
NEXT_PUBLIC_APP_URL="http://localhost:3001"
